@model List<AxolotlAtheneum.Models.Book>

<div class="container-md">
    <div class="row shelf"> </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="container">
                    <h2>Advanced Search</h2>
                    <hr>
                    @using (Html.BeginForm("Query", "Shopping", FormMethod.Get))
                    {
                        <fieldset class="search">

                            <input type="text" name="searchParam" id="searchParam" required placeholder="Search for something here...."><br>

                            <input type="radio" name="title" id="title" checked>Title
                            <input type="radio" name="author" id="author">Author
                            <input type="radio" name="isbn" id="isbn">ISBN
                            <input type="radio" name="publisher" id="publisher">Publisher
                            <input type="radio" name="category" id="category">Category
                        </fieldset>
                        <div class="form-group" style="padding-left: 200px;">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-star"></span> Submit
                                </button>
                            </div>
                        </div>
                    }

                    @if (Model != null || Model.Count > 0)
                    {
                        foreach (var item in @Model)
                        {
                            @Html.Partial("~/Views/Shopping/_BookItem.cshtml", item);
                        }
                    }
                    else
            {
                <p> No results. Click <a href="@Url.Action("Search")"> here </a>to return to all results.</p>
            }



                </div>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
                </script>

            </div>
        </div>
    </div>
</div>