@model AxolotlAtheneum.Models.User

@{
    ViewBag.Title = "LoginFail";
}

<body>



    <div class="container-md">
        <div class="row shelf"> </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <h2>Login</h2>

                            <p>Your email or password was not a valid entry, please try again.</p>
                            <div class="form-group">
                                <form method="POST">
                                    <label for="Email">Email</label>
                                    
                                    <input type="text" id="email" placeholder="Your email address goes here" name=" email">
                                    <p>Must contain one &#65312 and a have one . following it.</p>

                                    <label for="Email">Password</label>
                                    <input type="text" id="password" placeholder="Your password goes here" name=" password">
                                    Cannot be longer than 30 characters or blank. <br>
                                    <input type="submit" />
                                </form>
                            </div>
                           
                            <button type="button" class="btn btn-link">Forgot your password?</button>

                        </div>
                        <div class="form-group" style="padding-left: 200px;">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-star"></span> Login
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <h2>Don't have an account?     <a href="@Url.Action("regPage", "Account")" type="button" class="btn btn-warning">    Register Now</a></h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
<!-- Footer -->
<footer class="p-2 position-relative container-md wood-label">
    <p>Axolotl Atheneum &copy; 2021 </p>
</footer>
</html>

