
@{
    ViewBag.Title = "regSucc";
}

<main>
    <div class="container-md">
        <div class="row shelf"> </div>
        <div class="row">
            <div class="col">
                <div class="container">
                    <h2>Confirm Registration</h2>
                    <p>Thank you for registering with us! We have sent an email with a confirmation code to the email you provided, enter it below to become an active user!</p>
                    <input type="text" name="regCodeText" id="regCodeText" placeholder="Enter Registration Code">
                    <a href="@Url.Action("Homepage", "Home")" type="button" class="btn btn-warning">Activate Account</a>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
<!-- Footer -->
<footer class="p-2 position-relative container-md wood-label">
    <p>Axolotl Atheneum &copy; 2021 </p>
</footer>
</html>

