@{
    ViewBag.Title = "About";
}
<body>

   

    <div class="container-md">
        <div class="row shelf"> </div>
        <div class="row">
            <div class="col">
                <h2>About Us:</h2>
                <img src="@Url.Content("~/Images/AboutUs.png")"width="100%" height="auto" id="About">
            </div>
            <div class="col">
                <p id="definition">
                    ax·o·lotl<br>
                    /ˈaksəˌlädl/<br>
                    noun<br>
                    a Mexican salamander that in natural conditions<br>
                    retains its aquatic larval form throughout life<br>
                    but is able to breed.<br><br>

                    Ath·e·nae·um<br>
                    /ˌaTHəˈnēəm/<br>
                    noun<br>
                    used in the names of libraries or institutions <br>
                    for literary or scientific study.<br><br>
                    used in the titles of periodicals concerned <br>
                    with literature, science, and art.
                </p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

</body>
<!-- Footer -->
<footer class="p-2 position-relative container-md wood-label">
    <p>Axolotl Atheneum &copy; 2021 </p>
</footer>
</html>
