@{
    ViewBag.Title = "Suspended";
}

<body>

   

    <div class="container-md">
        <div class="row shelf"> </div>
        <div class="row">
            <div class="col">
                <h2>We are sorry</h2>
            </div>
            <div class="col">
                <p>
                    It appears your account has been suspended. Please reach
					out to us or wait for your account to be reactivated. Thank you!
                </p>
            </div>
        </div>
    </div>

    

</body>
<!-- Footer -->
<footer class="p-2 position-relative container-md wood-label">
    <p>Axolotl Atheneum &copy; 2021 </p>
</footer>
</html>
